$background: #fff;
$primaryColor: #755CEF;
$primaryBlack: #000000;
$primaryGray: #CCCCCC;
$primaryGrayDark: #5d5d5d;
$grayInput: #64748B;
$boxError: rgba(255, 0, 0, 0.2);
$textError: #CB5959;
$primaryColorHover: #684def;